<div class="loginbody">
<div class="loginform">
    <h1><em>Login</em></h1>
    <div class="textbox">
        <i class="far fa-user" aria-hidden="true"></i>
        <Input type="text" id="username" @value={{uname}} placeholder="User Name"/>
    </div>

    <div class="textbox">
        <i class="fas fa-lock" aria-hidden="true"></i>
        <Input type="password" id="password" @value={{upass}} placeholder="Password"/>
    </div>

    <button class="lobtn" {{action 'login'}} disabled={{isdisable}}>Login</button>

</div>
</div>
{{outlet}}